.btn {
  display : inline-block;
  padding : 6px 12px;
  margin-bottom : 0;
  font-size : 14px;
  font-weight : normal;
  line-height : 1.428571429;
  text-align : center;
  white-space : nowrap;
  vertical-align : middle;
  cursor : pointer;
  background-image : none;
  border : 1px solid transparent;
  border-radius : 4px;
  -webkit-user-select : none;
  -moz-user-select: none;
  -ms-user-select : none;
  -o-user-select : none;
  user-select : none
}

.btn-primary {
  color : #fff;
  background-color : #428bca;
  border-color : #357ebd
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  color : #fff;
  background-color : #3276b1;
  border-color : #285e8e
}
.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
  background-image : none
}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active {
  background-color : #428bca;
  border-color : #357ebd
}
.btn-primary .badge {
  color : #428bca;
  background-color : #fff
}

.input {
  width : 90%
}

#main {
  width : 960px
}