<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/bootstrap.min.css}}">
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/style.css}}">
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/font-awesome.min.css}}">
    <script type="text/javascript" src="{{:x-get-static-file=/admin/static/js/jquery-1.11.0.min.js}}"></script>
    <script type="text/javascript" src="{{:x-get-static-file=/admin/static/js/bootstrap.min.js}}"></script>
    <script type="text/javascript" src="{{:x-get-static-file=/admin/static/js/article.js}}"></script>
    <title>Edit Article - {{site_name}}</title>
  </head>
  <body>
    <div id="container" class="container-fluid">
      <div class="row">
        <div class="col-md-2">
        {{:x-load-admin-sidebar=articles}}
        </div>
	    <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">Edit Article</div>
            <div class="panel-body">
              <form action="{{:x-get-path=/admin/}}article/edit/{{id}}/" method="post" class="form-horizontal">
                <div class="form-group">
                  <label for="title" class="col-md-1 control-label">Title</label>
                  <div class="col-md-11">
                    <input type="text" class="form-control" id="title" name="title" value="{{title}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="tags" class="col-md-1 control-label">Tags</label>
                  <input type="hidden" class="form-control" id="tags" name="tags" value="{{tags}}">
                  <p id="tags-show" class="col-md-8 form-control-static"></p>
                  <div class="col-md-2">
                       <input type="text" class="form-control" id="new-tag-input">
                  </div>
                  <div class="col-md-1">
                      <button type="button" class="btn btn-default" id="new-tag">Add</button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="content" class="sr-only">Content</label>
                  <div class="col-md-12">
                    <textarea id="content" class="form-control" name="content" cols="100" rows="20">{{content}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-1 col-md-offset-11">
                    <button class="btn btn-default" type="submit">Edit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
	  </div>
	</div>
  </body>
</html>