<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/bootstrap.min.css}}">
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/style.css}}">
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/font-awesome.min.css}}">
    <script type="text/javascript" src="{{:x-get-static-file=/admin/static/js/jquery-1.11.0.min.js}}"></script>
    <script type="text/javascript" src="{{:x-get-static-file=/admin/static/js/bootstrap.min.js}}"></script>
    <title>Administrator - {{site_name}}</title>
  </head>
  <body>
    <div id="container" class="container-fluid">
	  <div class="row">
	    <div class="col-md-12">
          <div><a href="{{:x-get-path=/admin/}}article/list/">Articles</a></div>
          <div><a href="{{:x-get-path=/admin/}}theme/">Theme</a></div>
          <div><a href="{{:x-get-path=/admin/}}setting/">Setting</a></div>
	    </div>
	  </div>
    </div>
  </body>
</html>