<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/bootstrap.min.css}}">
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/style.css}}">
    <link rel="stylesheet" type="text/css" href="{{:x-get-static-file=/admin/static/css/font-awesome.min.css}}">
    <script type="text/javascript" src="{{:x-get-static-file=/admin/static/js/jquery-1.11.0.min.js}}"></script>
    <script type="text/javascript" src="{{:x-get-static-file=/admin/static/js/bootstrap.min.js}}"></script>
    <title>Administrator - {{site_name}}</title>
  </head>
  <body>
    <div id="container" class="container-fluid">
	  <div class="row">
        <div class="col-md-2">
        {{:x-load-admin-sidebar=index}}
        </div>
	    <div class="col-md-10">
          <div class="panel panel-default">
          <div class="panel-heading">Index</div>
          <div class="panel-body">
            <p>
              Welcome to administrator panel.
            </p>
            <p>
              Here you can customize your site and write or edit articles.
            </p>
            <p>
              Click links on left to do something you want to do.
            </p>
          </div>
          </div>
	    </div>
	  </div>
    </div>
  </body>
</html>