<form action="{{:x-get-path=/admin/}}setting/" method="post">
  <div>
    <label for="sitename">Site name:</label>
    <input type="text" id="sitename" name="sitename" value="{{site_name}}" />
  </div>
  <div>
    <label for="sitedescription">Site descrition:</label>
    <input type="text" id="sitedescription" name="sitedescription" value="{{site_description}}" />
  </div>
  <div>
    <label for="siteurl">Site url:</label>
    <input type="text" id="siteurl" name="siteurl" value="{{site_url}}" />
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
 </form>