<div id="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li {{#active_index}}class="active"{{/active_index}}>
      <a href="{{:x-get-path=/admin/}}">Index</a>
    </li>
    <li {{#active_articles}}class="active"{{/active_articles}}>
      <a href="{{:x-get-path=/admin/}}article/list/">Articles</a>
    </li>
    <li {{#active_theme}}class="active"{{/active_theme}}>
      <a href="{{:x-get-path=/admin/}}theme/">Themes</a>
     </li>
    <li {{#active_setting}}class="active"{{/active_setting}}>
      <a href="{{:x-get-path=/admin/}}setting/">Basic Settings</a>
    </li>
  </ul>
</div>